html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.5rem;
}
h5 {
    font-size: 2rem;
}
h6 {
    font-size: 1.5rem;
}


.expandingBackground {
    display: block;
    background-image: linear-gradient(#0d7691, #22916f);
    height: 85vh;
    width: 100%;

    &::after { // apply background image?
        
        //content: url("https://images.pexels.com/photos/3934512/pexels-photo-3934512.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1080");
        //mix-blend-mode: lighten;
        pointer-events: none;
    }

    &.expanded {
        height: 250vh;
        transition: all 750ms ease-out;
    }
}

/* body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
} */

